body {
    font-family: Lora;
    background-image: url(../images/bg-nesti.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover
}

#disconnect-message {
    background-color: #b0d41c;
}

#error-message {
    background-color: #fb3939;
}