/* body {
    margin: 0;
    padding: 0;
    background-color: #17a2b8;
    height: 100vh;
} */


/* #login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height: 320px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
}

#login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
}

#login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
}



.head {
    height: 10%;
}
.icon {
    background: url('../images/icons/create-svg.png');
}

progress {
    color: red;
}
progress::-webkit-progress-value {
    background: lightblue;
}
progress::-moz-progress-bar {
    background: lightcolor;
}
progress::-webkit-progress-value {
    background: red;
}
progress::-webkit-progress-bar {
    background: blue;
}
#orderLineDetail {
    height: 80%;
}
input[type=file] {
    -moz-appearance: textfield;
}
.recipe-img {
    height: 80%;
} */

table.dataTable {
    border-collapse: collapse !important;
}

table.dataTable.no-footer {
    border-top: 0px !important;
    border-bottom: 0px !important;
}

input[type=number] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.tables_head {
    background-color: #00838f;
}

.nav-button {
    width: 20%;
    background-color: #00838f;
}

.active {
    background-color: #fac02e;
}

.nav-links {
    background-color: #005663;
    /* width: 70%; */
}

.order-link {
    background-color: #fac02e;
}

.rotate-left {
    animation: rotateLeft 5s;
}

@keyframes rotateLeft {
    0% {
        transform: translateY(0px);
        z-index: 10;
    }
    50% {
        transform: translateY(-250px);
        z-index: -1;
    }
    100% {
        transform: translateY(-177px);
        z-index: -1;
    }
}

.rotate-down {
    animation: rotateDown 5s;
}

@keyframes rotateDown {
    0% {
        transform: translateY(0px);
        z-index: -1;
    }
    50% {
        transform: translateY(250px);
        z-index: -1;
    }
    100% {
        transform: translateY(177px);
        z-index: -1;
    }
}


/* #sucess_message {
    -moz-animation: cssAnimation 0s ease-in 5s forwards;
   
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
    
    -o-animation: cssAnimation 0s ease-in 5s forwards;
   
    animation: cssAnimation 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes cssAnimation {
    to {
        width: 0;
        height: 0;
        opacity: 0;
        display: none;
    }
}

@-webkit-keyframes cssAnimation {
    to {
        width: 0;
        height: 0;
        visibility: hidden;
    }
} */